body {
  background: linear-gradient(rgb(28, 224, 250), white);
  color: rgb(43, 42, 42);
}
.wrapper {
  background-color: #fff;
  box-shadow: 0px 5px 10px black;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
}
button {
  color: rgb(43, 42, 42);
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dice {
  text-align: center;
  margin: auto;
}
.player-name {
  padding-top: 20px;
}

.player-score {
  text-align: center;
  margin: auto;
  font-size: 4rem;
}
.player-current-box {
  background-color: #1595eb;
  color: #fff;
  width: 40%;
  text-align: center;
}
.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #1595eb;
}
.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.player-current-score {
  font-size: 30px;
}
@media screen and (max-width : 767px) {
.wrapper {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dice {
  width: 30%;
}
.scores {
  padding-bottom: 10px;
}
}
@media screen and (min-width : 768px) {
.btn-new { 
  height: 20vh;
}
.btn-roll { 
  height: 10vh;
}
.btn-hold {
  height: 10vh;
}
.des {
  height: 40vh;
}
.player-name {
  height: 20vh;
}
.scores {
  height: 40vh;
  padding-bottom: 40px;
}

.player-current-box {
  height: 15vh;
}
}


.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #1595eb; }

@media screen and (orientation: portrait) {

.player-0-panel,
.player-1-panel {
  width: 100%;
}
.player-score {
  margin-bottom: 50px;
}
.btn-new {
  width: auto;
}
.btn-roll { 
  top: 430px;
  left: 25%;
}
.btn-hold { 
  top: 430px;
  left: 75%;
}
.dice {
  top: 430px;
  height: 50px;
}
}
